@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --color-main: #4723d9;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.dtfh-floatingparent{
    top: -7px !important;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    animation: slide-in 0.5s ease-in-out, fade-out 3s 0.5s ease-in-out forwards;
    z-index: 10000;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Loading */
/* Phần overlay */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Màu đen mờ mờ */
    z-index: 9999;
}

/* Biểu tượng loading */
#loading img {
    width: 150px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.modal-content {
    left: 50%;
    transform: translateX(-50%);
}

.bold {
    font-weight: bold;
}

.card-header {
    background-color: rgb(81, 49, 208);
    color: #fff;
}

/*Custom table*/
.container-table {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33);

}

/*Custom buttons*/
.container-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33);
    margin-bottom: 20px;
}